<h2 id="title">Welcome to Ember</h2>

{{#link-to 'reports'}}
  Saved Reports
{{/link-to}}

{{#if model}}
  <button {{action 'logout'}}> Logout </button>
{{else}}
  {{#link-to 'login'}}
    Login
  {{/link-to}}
{{/if}}

{{outlet}}
