<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" {{action 'authenticate' on='submit'}}>
            <div class="form-group">
              <label for="email" class="col-md-4 control-label">E-Mail Address</label>
              <div class="col-md-6">
                {{input id='login-email' value=email placeholder='Enter Email' class='form-control'}}
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Password</label>
              <div class="col-md-6">
                  {{input id='login-password' value=password placeholder='Enter Password' class='form-control' type='password'}}
                  {{#if errorMessage}}
                    <span id="login-error" class="help-block">
                      {{errorMessage}}
                    </span>
                  {{/if}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary">Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
