<div class="row">
  <div class="col-sm-3" />
  <div class="col-sm-6 text-center">
    {{#if isSearching}}
      <div class="loader">
        Loading...
      </div>
    {{else}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Search for Information
          </div>
        </div>
        <div class="panel-body text-center">
          <form {{action 'searchEmail' on='submit'}}>
            {{input id="search-input" value=emailQuery placeholder='Enter an email to search' class='form-control lead'}}
            {{#if errorMessage}}
              <p id="search-error" class="text-danger">
                {{errorMessage}}
              </p>
            {{/if}}
            <button type="submit" class="btn btn-success btn-block">Search</button>
          </form>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-sm-3" />
</div>
